doctype html 



html 
    head 
        link(rel="stylesheet" href="css/bubbles.css")
        link(rel="stylesheet" href="css/menu.css")
        link(rel="stylesheet" href="css/style.css")
        title My first Pug 

    body
        header
            nav#navArea
                div.logo
                    img(src="img/logo.svg" alt="your company logo")





        div.bubble_trans
            div.bubbles
                - for (var i = 0; i < 128; i++) //Small numbers looks nice too
                    div.bubble(style=`--size:${3+Math.random()*4}rem; --distance:${6+Math.random()*4}rem; --position:${-5+Math.random()*105}%; --time:${2+Math.random()*2}s; --delay:${-1*(2+Math.random()*2)}s;`)
        div.section1




        script(src="js/scripts.js")
         

